FLASK_ENV=development
SQLALCHEMY_DATABASE_URI=postgresql://user:password@localhost:5432/database_name
ATTRIBUTES_USER='["cnh", "cpf", "name", "email", "phone", "categorie_cnh"]'
ATTRIBUTES_CAR='["chassi", "license_plate", "brand", "model", "year", "color_car", "image", "current_km", "licensing_expiration", "daily_rental_price", "daily_fixed_km"]'
ATTRIBUTES_ADDRESS='["residence_street", "residence_number", "residence_district", "residence_cep", "residence_city", "residence_state", "residence_reference"]'